*
{
padding:0px;
margin:0px;
}

body
{
font-size:18px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
background-color:white;
color:black;
min-width:900px;
background-image:url('images/bg_diamond.jpg');
}

#maintopcont
{
background-color:#3b5999;
height:190px;
color:white;
font-family: "Broadway";
}

#logocont
{
width:185px;
float:left;
padding:10px;
}

#headertext
{
float:left;
margin-left:100px;
padding:10px;
font-size:25px;
text-align:center;
}

#menubar
{
background-color:#3b5999;
height:50px;
width:820px;
margin:auto;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
text-align:center;
}

.menucont
{
float:left;
margin-left:10px;
padding:5px;
background-color:white;
color:#3b5999;
cursor:pointer;
}

.menucont:hover
{
background-color:black;
color:white;
}

#social
{
float:left;
position:absolute;
right:0px;
margin-left:20px;
width:100px;
height:40px;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
padding:5px;
}

#social img
{
cursor:pointer;
}

#social img:hover
{
opacity:0.6;
filter:(opacity=60);
}

#maincont
{
background-color:white;
background-image:url('images/contentbg.png');
padding:10px;
min-height:370px;
width:90%;
margin:auto;
}

#footer
{
background-color:#D83C3C;
color:white;
font: bold 10px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
padding:10px;
margin:10px;
text-align:center;
height:30px;
}

#cright
{
float:left;
}

#webcredit
{
float:right;
}

#footlinks
{
float:left;
margin-left:200px;
}

#footlinks a
{
text-decoration:none;
color:white;
}

#footlinks a:hover
{
text-decoration:underline;
}

#leftinside
{
float:left;
padding:10px;
min-width:350px;
max-width:400px;
}

#rightinside
{
float:left;
padding:10px;
margin-left:10px;
min-width:350px;
max-width:400px;
}

#enclosecont
{
margin:auto;
}

.mainhead
{
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
text-decoration:underline;
}

.subcont
{
font-weight:100;
margin-left:20px;
font-family: Tahoma;
font-size:14px;
line-height:25px;
}